.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.game-card {
  border: 1px solid black;
  display: flex;
  height: auto;
  width: auto;
}

.game-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

img {
  height: 100px;
  width: 100px;
}

